header h1 {
    width: auto;
    margin-top: 40px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
    font-size: 80px;
    text-decoration: solid underline;
    color: rgb(44, 44, 44);
}

#alura-logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

footer {
    text-align: center;
    color: rgb(44, 44, 44);
    font-size: 22px;
}

#ghlogo {
    padding: 15px;
    width: 100px;
    display: inline-block;
    transition: 1s;
}

#ghlogo:hover {
    transform: scale(1.25);
}

@media screen and (max-width: 480px) {
    header h1{
        margin-top: 120px;
    }

    footer {
        text-align: end center;
    }
}